<div class="card shadow-xl">
  <div class="card-body">
    <div class="flex flex-row"><h2 class="card-title">{{title}}</h2><p class="text-right">Posted by
        {{user.username}}
        on
        {{format_date createdAt}}</p></div>

    <p>{{content}}</p>
    {{#if isBlogPage}}{{else}}
      <div class="card-actions justify-end">
        <a href="blog/{{id}}" class="btn btn-primary">View</a>
      </div>
    {{/if}}
  </div>
</div>